## Pandas basics

#### Start out by importing the pandas library, and we'll tell Python that we're referring to it as "pd" (for the sake of brevity)

In [1]:
import pandas as pd

#### Read in a CSV file into a pandas dataframe we'll call "df"
#### The csv reading function assumes that each person is on a new line, that the variable names are at the top of the file, and all entries are separated by a column

In [3]:
df = pd.read_csv('../dataset/titanic.csv')

#### You can view the variable/column names

In [4]:
list(df.columns.values)

['survived',
 'pclass',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked']

#### You can view how many data entries/cases there are

In [5]:
print len(df.index)

891

#### You can access a specific column/variable using brackets and the column name in quotations

In [6]:
df['sex']

#or

df.sex

0        male
1      female
2      female
3      female
4        male
5        male
6        male
7        male
8      female
9      female
10     female
11     female
12       male
13       male
14     female
15     female
16       male
17       male
18     female
19     female
20       male
21       male
22     female
23       male
24     female
25     female
26       male
27       male
28     female
29       male
        ...
861      male
862    female
863    female
864      male
865    female
866    female
867      male
868      male
869      male
870      male
871    female
872      male
873      male
874    female
875    female
876      male
877      male
878      male
879    female
880    female
881      male
882    female
883      male
884      male
885    female
886      male
887    female
888    female
889      male
890      male
Name: sex, dtype: object

#### You can also access multiple columns at once

In [7]:

df[["sex","fare"]]

        sex      fare
0      male    7.2500
1    female   71.2833
2    female    7.9250
3    female   53.1000
4      male    8.0500
5      male    8.4583
6      male   51.8625
7      male   21.0750
8    female   11.1333
9    female   30.0708
10   female   16.7000
11   female   26.5500
12     male    8.0500
13     male   31.2750
14   female    7.8542
15   female   16.0000
16     male   29.1250
17     male   13.0000
18   female   18.0000
19   female    7.2250
20     male   26.0000
21     male   13.0000
22   female    8.0292
23     male   35.5000
24   female   21.0750
25   female   31.3875
26     male    7.2250
27     male  263.0000
28   female    7.8792
29     male    7.8958
..      ...       ...
861    male   11.5000
862  female   25.9292
863  female   69.5500
864    male   13.0000
865  female   13.0000
866  female   13.8583
867    male   50.4958
868    male    9.5000
869    male   11.1333
870    male    7.8958
871  female   52.5542
872    male    5.0000
873    male    9.0000
874  female   24.0000
875  female    7.2250
876    male    9.8458
877    male    7.8958
878    male    7.8958
879  female   83.1583
880  female   26.0000
881    male    7.8958
882  female   10.5167
883    male   10.5000
884    male    7.0500
885  female   29.1250
886    male   13.0000
887  female   30.0000
888  female   23.4500
889    male   30.0000
890    male    7.7500

[891 rows x 2 columns]

#### You can view either the first N or last N set of rows

In [8]:
N = 5
print df.head(5)
print df.tail(5)

   survived  pclass                                               name  \
0         0       3                            Braund, Mr. Owen Harris
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1       3                             Heikkinen, Miss. Laina
3         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0       3                           Allen, Mr. William Henry

      sex   age  sibsp  parch            ticket     fare cabin embarked
0    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1  female  38.0      1      0          PC 17599  71.2833   C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3  female  35.0      1      0            113803  53.1000  C123        S
4    male  35.0      0      0            373450   8.0500   NaN        S
     survived  pclass                                      name     sex   age  \
886         0       2                     Montvila, Rev. Juozas    male  27.0
887         1       1              Graham, Miss. Margaret Edith  female  19.0
888         0       3  Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889         1       1                     Behr, Mr. Karl Howell    male  26.0
890         0       3                       Dooley, Mr. Patrick    male  32.0

     sibsp  parch      ticket   fare cabin embarked
886      0      0      211536  13.00   NaN        S
887      0      0      112053  30.00   B42        S
888      1      2  W./C. 6607  23.45   NaN        S
889      0      0      111369  30.00  C148        C
890      0      0      370376   7.75   NaN        Q

#### You can recode a variable by mapping on the old value to new values

In [9]:
df['pclass'] = df["pclass"].astype("str")
df["pclass"].replace({'1': 'upper', '2' : 'middle', '3' : "lower"})

0       lower
1       upper
2       lower
3       upper
4       lower
5       lower
6       upper
7       lower
8       lower
9      middle
10      lower
11      upper
12      lower
13      lower
14      lower
15     middle
16      lower
17     middle
18      lower
19      lower
20     middle
21     middle
22      lower
23      upper
24      lower
25      lower
26      lower
27      upper
28      lower
29      lower
        ...
861    middle
862     upper
863     lower
864    middle
865    middle
866    middle
867     upper
868     lower
869     lower
870     lower
871     upper
872     upper
873     lower
874    middle
875     lower
876     lower
877     lower
878     lower
879     upper
880    middle
881     lower
882     lower
883    middle
884     lower
885     lower
886    middle
887     upper
888     lower
889     upper
890     lower
Name: pclass, dtype: object

In [10]:
df.ix[df.age >= 18, 'age_recode'] = "adult"
df.ix[df.age < 18, 'age_recode'] = "child"
print df['age_recode']

0      adult
1      adult
2      adult
3      adult
4      adult
5        NaN
6      adult
7      child
8      adult
9      child
10     child
11     adult
12     adult
13     adult
14     child
15     adult
16     child
17       NaN
18     adult
19       NaN
20     adult
21     adult
22     child
23     adult
24     child
25     adult
26       NaN
27     adult
28       NaN
29       NaN
       ...
861    adult
862    adult
863      NaN
864    adult
865    adult
866    adult
867    adult
868      NaN
869    child
870    adult
871    adult
872    adult
873    adult
874    adult
875    child
876    adult
877    adult
878      NaN
879    adult
880    adult
881    adult
882    adult
883    adult
884    adult
885    adult
886    adult
887    adult
888      NaN
889    adult
890    adult
Name: age_recode, dtype: object

#### You can create new variables

In [11]:
df["familymembers"] = df["sibsp"] + df["parch"] 
print df[["sibsp","parch","familymembers"]]

     sibsp  parch  familymembers
0        1      0              1
1        1      0              1
2        0      0              0
3        1      0              1
4        0      0              0
5        0      0              0
6        0      0              0
7        3      1              4
8        0      2              2
9        1      0              1
10       1      1              2
11       0      0              0
12       0      0              0
13       1      5              6
14       0      0              0
15       0      0              0
16       4      1              5
17       0      0              0
18       1      0              1
19       0      0              0
20       0      0              0
21       0      0              0
22       0      0              0
23       0      0              0
24       3      1              4
25       1      5              6
26       0      0              0
27       3      2              5
28       0      0              0
29       0      0              0
..     ...    ...            ...
861      1      0              1
862      0      0              0
863      8      2             10
864      0      0              0
865      0      0              0
866      1      0              1
867      0      0              0
868      0      0              0
869      1      1              2
870      0      0              0
871      1      1              2
872      0      0              0
873      0      0              0
874      1      0              1
875      0      0              0
876      0      0              0
877      0      0              0
878      0      0              0
879      0      1              1
880      0      1              1
881      0      0              0
882      0      0              0
883      0      0              0
884      0      0              0
885      0      5              5
886      0      0              0
887      0      0              0
888      1      2              3
889      0      0              0
890      0      0              0

[891 rows x 3 columns]

#### You can code variables by their range

In [12]:
df["alone_or_group"] = df['familymembers'].apply(lambda x: 'alone' if x < 1 else 'group')

#### You can combine two different data sources that share a common attribute (e.g., "name")

In [14]:
survivors = df[["name","survived"]]
ticketprices = df[["name","fare"]]
merged = survivors.merge(ticketprices, left_on="name", right_on="name")
print merged

                                                  name  survived      fare
0                              Braund, Mr. Owen Harris         0    7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...         1   71.2833
2                               Heikkinen, Miss. Laina         1    7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)         1   53.1000
4                             Allen, Mr. William Henry         0    8.0500
5                                     Moran, Mr. James         0    8.4583
6                              McCarthy, Mr. Timothy J         0   51.8625
7                       Palsson, Master. Gosta Leonard         0   21.0750
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         1   11.1333
9                  Nasser, Mrs. Nicholas (Adele Achem)         1   30.0708
10                     Sandstrom, Miss. Marguerite Rut         1   16.7000
11                            Bonnell, Miss. Elizabeth         1   26.5500
12                      Saundercock, Mr. William Henry         0    8.0500
13                         Andersson, Mr. Anders Johan         0   31.2750
14                Vestrom, Miss. Hulda Amanda Adolfina         0    7.8542
15                    Hewlett, Mrs. (Mary D Kingcome)          1   16.0000
16                                Rice, Master. Eugene         0   29.1250
17                        Williams, Mr. Charles Eugene         1   13.0000
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...         0   18.0000
19                             Masselmani, Mrs. Fatima         1    7.2250
20                                Fynney, Mr. Joseph J         0   26.0000
21                               Beesley, Mr. Lawrence         1   13.0000
22                         McGowan, Miss. Anna "Annie"         1    8.0292
23                        Sloper, Mr. William Thompson         1   35.5000
24                       Palsson, Miss. Torborg Danira         0   21.0750
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...         1   31.3875
26                             Emir, Mr. Farred Chehab         0    7.2250
27                      Fortune, Mr. Charles Alexander         0  263.0000
28                       O'Dwyer, Miss. Ellen "Nellie"         1    7.8792
29                                 Todoroff, Mr. Lalio         0    7.8958
..                                                 ...       ...       ...
861                        Giles, Mr. Frederick Edward         0   11.5000
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...         1   25.9292
863                  Sage, Miss. Dorothy Edith "Dolly"         0   69.5500
864                             Gill, Mr. John William         0   13.0000
865                           Bystrom, Mrs. (Karolina)         1   13.0000
866                       Duran y More, Miss. Asuncion         1   13.8583
867               Roebling, Mr. Washington Augustus II         0   50.4958
868                        van Melkebeke, Mr. Philemon         0    9.5000
869                    Johnson, Master. Harold Theodor         1   11.1333
870                                  Balkic, Mr. Cerin         0    7.8958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)         1   52.5542
872                           Carlsson, Mr. Frans Olof         0    5.0000
873                        Vander Cruyssen, Mr. Victor         0    9.0000
874              Abelson, Mrs. Samuel (Hannah Wizosky)         1   24.0000
875                   Najib, Miss. Adele Kiamie "Jane"         1    7.2250
876                      Gustafsson, Mr. Alfred Ossian         0    9.8458
877                               Petroff, Mr. Nedelio         0    7.8958
878                                 Laleff, Mr. Kristo         0    7.8958
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)         1   83.1583
880       Shelley, Mrs. William (Imanita Parrish Hall)         1   26.0000
881                                 Markun, Mr. Johann         0    7.8958
882                       Dahlberg, Miss. Gerda Ulrika         0   10.5167
883                      Banfield, Mr. Frederick James         0   10.5000
884                             Sutehall, Mr. Henry Jr         0    7.0500
885               Rice, Mrs. William (Margaret Norton)         0   29.1250
886                              Montvila, Rev. Juozas         0   13.0000
887                       Graham, Miss. Margaret Edith         1   30.0000
888           Johnston, Miss. Catherine Helen "Carrie"         0   23.4500
889                              Behr, Mr. Karl Howell         1   30.0000
890                                Dooley, Mr. Patrick         0    7.7500

[891 rows x 3 columns]

## Examine Categorical Variables for Irregularities

#### Examine the different values entered

In [ ]:
pd.unique(df["sex"])

#### Make all string values lowercase

In [ ]:
df['name'] = df['name'].apply(lambda x: x.lower())
print df['name']

#### Fix string values that might have an extra hidden spae before or after

In [ ]:
df['name'] = df['name'].apply(lambda x: x.strip())
print df['name']

####  Fix string values that might be mispelled

In [ ]:
import difflib
df['sex'] = df['sex'].apply(lambda x: difflib.get_close_matches(x,["male","female"])[0])
print df['sex']

## Examine quantitative variables for irregularities

#### View the central tendency, variability, minimum, maximum, and quartiles to check for impossible or unexpect values

In [ ]:
df["fare"].describe()

#### View a histogram that shows the distribution of the variables.

In [ ]:
import matplotlib.pyplot as plt
plt.figure();
df["fare"].plot.hist(alpha=0.5)
plt.show()

#### Restrict the values that data can take (upper and lower limits)

In [ ]:
df.loc[:,'age'] = df['age'].clip(lower=0, upper=100)

## Handling Missing Data

#### Checking for missing data

In [ ]:
missing_count = df['age'].isnull().sum()
print missing_count

missing_data = df[pd.isnull(df['age'])]
print missing_data

#### Drop rows that have a missing value for age

In [ ]:
df = df[pd.notnull(df['age'])]
print df['age']

#### Replace missing values with the:
   1) median (middle value) for that column
   
   2) mode (most frequent value) for that column

In [ ]:
df['age_medianimpute'] = df['age'].fillna(df['age'].median())
df['age_modeimpute'] = df['age'].fillna(df['age'].mode())

#### Replace missing values with the likely value

#### Use a linear regression formula to predict what the missing value would have been

In [ ]:
from sklearn import linear_model, preprocessing
import numpy as np


sex_encoder = preprocessing.LabelEncoder().fit(df["sex"])
df['sex_coded'] = sex_encoder.transform(df["sex"])

df_complete = df.dropna()
regr = linear_model.LinearRegression()
regr.fit(df_complete[["fare","sex_coded"]],df_complete['age'])

df.loc[:,'age'] = df.apply(lambda x: regr.predict(df[["fare","sex_coded"]])[0] if pd.isnull(x['age']) else x['age'], axis=1)

#### Use the 2 most similar cases to predict what the missing value would have been

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

sex_encoder = preprocessing.LabelEncoder().fit(df["sex"])
df['sex_coded'] = sex_encoder.transform(df["sex"])


pclass_encoder = preprocessing.LabelEncoder().fit(df["pclass"])
df['pclass_coded'] = pclass_encoder.transform(df["pclass"])

df_complete = df.dropna()

neigh = KNeighborsRegressor(n_neighbors=2)
neigh.fit(df_complete[["fare","sex_coded","pclass_coded","sibsp"]], df_complete["age"])

df.loc[:,'age'] = df.apply(lambda x: neigh.predict(df[["fare","sex_coded","pclass_coded","sibsp"]])[0] if pd.isnull(x['age']) else x['age'], axis=1)

## Apply the lesson

#### Import the pandas library (call it pd for short). 

#### Read in the dataset called "redwinequality.csv" in the datasets folder and save it to a dataframe called "df"

In [1]:
import pandas as pd
df = pd.read_csv('../dataset/redwinequality.csv')

#### What are the variables collected on each wines?

In [2]:
print list(df.columns.values)

['fixedacidity', 'volatileacidity', 'citricacid', 'residualsugar', 'chlorides', 'freesulfurdioxide', 'totalsulfurdioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']

#### What is the maximum and minimum pH value?

In [3]:
print df['pH'].max()
print df['pH'].min()

#or 

print df['pH'].describe()

4.01
2.74
count    1599.000000
mean        3.311113
std         0.154386
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64

#### How does the distribution of quality ratings look like?

In [ ]:
import matplotlib.pyplot as plt
plt.figure();
df["quality"].plot.hist(alpha=0.5)
plt.show()

#### Some of the volatile acidity measurements are missing. How many of the measurements are missing? What proportion of wines are missing a volatile acidity rating?

In [ ]:
missing_count = df['volatileacidity'].isnull().sum()
print missing_count
print missing_count / float(len(df.index))

#### Fill in the missing values for volatile acidity with the median. Create a new column with the filled in missing data. Call that column: va_medianimpute

In [ ]:
df['va_medianimpute'] = df['volatileacidity'].fillna(df['volatileacidity'].median())

#### Fill in the missing values for volatile acidity with using the 8 most similar cases/neighbors.  Base similarity off the variables: fixedacidity, citricacid, residualsugar, and chlorides

#### Create a new column with the filled in missing data. Call that column: va_neighborimpute

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

df_complete = df.dropna()

neigh = KNeighborsRegressor(n_neighbors=8)
neigh.fit(df_complete[["fixedacidity","citricacid","residualsugar","chlorides"]], df_complete["volatileacidity"])

df.loc[:,'va_neighborimpute'] = df.apply(lambda x: neigh.predict(df[["fixedacidity","citricacid","residualsugar","chlorides"]])[0] if pd.isnull(x['volatileacidity']) else x['volatileacidity'], axis=1)

#### Load in the complete wine dataset (redwinequality_complete.csv), which has the true values for the missing values. Call the dataframe: df_true

#### Compare the absolute difference between the volatile acidity column of the complete dataset with va_medianimpute and the va_neighborimpute variables you created.

#### Which imputation method has the smallest MEAN/AVERAGE absolute difference?

In [ ]:
df_true = pd.read_csv('../dataset/redwinequality_complete.csv')
print (df_true["volatileacidity"] - df['va_medianimpute']).abs().mean()
print (df_true["volatileacidity"] - df['va_neighborimpute']).abs().mean()

#### You want to recode the chlorides as either being "high" or "low" if the chloride level is above or below (or equal to) .25. Create a new variable called: "chlorides_category" that follows those rules. Show the new coded variable next to the old numeric variable.

In [ ]:
df.chlorides.median()
df.ix[df.chlorides > df.chlorides.median(), 'chlorides_category'] = "high"
df.ix[df.chlorides <= df.chlorides.median(), 'chlorides_category'] = "low"
print df[['chlorides', 'chlorides_category']]